/* src/components/header.module.css */
.header {
  background-color: #ebfcfb; 
  padding: 1rem 2rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; 
  margin: 0 auto;
}

.left {
  display: flex;
  gap: 1.5rem;
}

.right {
  display: flex;
  gap: 1rem;
}

.link {
  color: #5f5449;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}

.linkButton {
  background: none;
  border: none;
  color: #5f5449; 
  font-weight: bold;
  cursor: pointer;
  padding: 0; 
  font-size: 1rem; 
  transition: text-decoration 0.2s ease;
}

.linkButton:hover {
  text-decoration: underline;
}